<h1><%= @story.title %></h1>
<p><%= link_to @story.link, @story.link %>

<ul>
</ul>

<p><%= link_to "Back to home page", root_path # "_path" means that it will take you straight to that route -- so this takes you to the homepage %></p>
